<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h2><strong>Consulta Por División</strong></h2>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4 text-center">
                <a class="link btn" (click)="exportExcel()">
                    <i class="fas fa-file-excel i-excel" ></i> Exportar a Excel
                </a>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="form-group form-check mx-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checkImp()" [checked]="impCheck === true">
                <label class="form-check-label" for="exampleCheck1" >Importes</label>
              </div>
              <div class="form-group form-check mx-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checkEmp()" [checked]="empCheck === true">
                <label class="form-check-label" for="exampleCheck1">Empleados</label>
              </div>
              <div class="form-group mx-3">
                <label for="exampleFormControlSelect1">Nivel</label>
                <select class="form-control" [(ngModel)]="nivel" (change)="filtro()">
                  <option value="0">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                  <option value="4">5</option>
                </select>
              </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <span><strong>Total de Registros:</strong> {{registrosTotales}}</span>
        </div>
    </div>
    <div class="row mt-3 div-tabla mx-2" style="overflow-x: auto;">
        <div class="w-100">
            <table class="table table-bordered table-striped">
                <thead class="text-center justify-content-center">
                    <th>C. Por Concepto</th>
                    <th>C. Por Empleado</th>
                    <th>Gráfica</th>
                    <th>RFC</th>
                    <th>División</th>
                    <th>Departamento</th>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Nombre Gráfica</th>
                    <th *ngIf="impCheck === true">Total-$</th>
                    <th *ngIf="impCheck === true">Enero-$</th>
                    <th *ngIf="empCheck === true">Enero-No.</th>
                    <th *ngIf="impCheck === true">Febrero-$</th>
                    <th *ngIf="empCheck === true">Febrero-No.</th>
                    <th *ngIf="impCheck === true">Marzo-$</th>
                    <th *ngIf="empCheck === true">Marzo-No.</th>
                    <th *ngIf="impCheck === true">Abril-$</th>
                    <th *ngIf="empCheck === true">Abril-No.</th>
                    <th *ngIf="impCheck === true">Mayo-$</th>
                    <th *ngIf="empCheck === true">Mayo-No.</th>
                    <th *ngIf="impCheck === true">Junio-$</th>
                    <th *ngIf="empCheck === true">Junio-No.</th>
                    <th *ngIf="impCheck === true">Julio-$</th>
                    <th *ngIf="empCheck === true">Julio-No.</th>
                    <th *ngIf="impCheck === true">Agosto-$</th>
                    <th *ngIf="empCheck === true">Agosto-No.</th>
                    <th *ngIf="impCheck === true">Septiembre-$</th>
                    <th *ngIf="empCheck === true">Septiembre-No.</th>
                    <th *ngIf="impCheck === true">Octubre-$</th>
                    <th *ngIf="empCheck === true">Octubre-No.</th>
                    <th *ngIf="impCheck === true">Noviembre-$</th>
                    <th *ngIf="empCheck === true">Noviembre-No.</th>
                    <th *ngIf="impCheck === true">Diciembre-$</th>
                    <th *ngIf="empCheck === true">Diciembre-No.</th>                 
                </thead>
                <tbody>
                    <tr *ngFor="let division of divisiones">
                        <th class="text-center"><button class="btn btn-principal" title="Consulta Por Concepto"><i class="fas fa-search"></i></button></th>
                        <th class="text-center"><button class="btn btn-principal"><i class="fas fa-search" title="Consulta Por Empleado"></i></button></th>
                        <th class="text-center"><button class="btn btn-principal"><i class="fas fa-chart-bar" title="Gráfica"></i></button></th>
                        <td class="text-center">{{division.rfc.rfc}}</td>
                        <td>{{division.division}}</td>
                        <td>{{division.departamento}}</td>
                        <td>{{division.nombre}}</td>
                        <td>{{division.nivel}}</td>
                        <td>{{division.nomGraf}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp0 | currency}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp1 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant1}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp2 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant2}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp3 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant3}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp4 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant4}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp5 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant5}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp6 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant6}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp7 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant7}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp8 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant8}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp9 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant9}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp10 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant10}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp11 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant11}}</td>
                        <td *ngIf="impCheck === true" class="text-right">{{division.imp12 | currency}}</td>
                        <td *ngIf="empCheck === true" class="text-right">{{division.cant12}}</td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
