<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h2>
                <strong>
                    Tabla de Departamentos
                </strong>
            </h2>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4 text-center">
                <a href="" class="link btn">
                    <i class="fas fa-file-excel i-excel" ></i> Exportar a Excel
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="" class="link btn">
                    <i class="fas fa-file-pdf i-pdf" ></i> Exportar a PDF
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <h5>
                <strong>
                    Filtrar por:
                </strong>
            </h5>
        </div>
        <div class="form-row mt-2 justify-content-around">
            <div class="form-group col-lg-4 col-md-5 col-6">
                <label for="departamento"><strong># de Departamento</strong></label>
                <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase()" id="departamento" name="departamento" [(ngModel)]="departamento.departamento" (input)="filtro()">
            </div>
            <div class="form-group col-lg-4 col-md-5 col-6">
                <label for="nombre"><strong>Nombre de Departamento</strong></label>
                <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase()" id="nombre" name="nombre" [(ngModel)]="departamento.nombre" (input)="filtro()">
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <span><strong>Total de Registros:</strong> {{registrosTotales}}</span>
        </div>
        <div class="row mt-3 div-tabla" >
            <div class="w-100">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <th>DEPARTAMENTO</th>
                        <th>NOMBRE</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let departamento of departamentos">
                            <td>{{departamento.departamento}}</td>
                            <td>{{departamento.nombre}}</td>
                        </tr>
                        <tr *ngIf="registrosTotales == 0">
                            <td colspan="2">
                                <span><strong>No Hay Registros</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>