<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h3><b>Tabla de Departamentos</b></h3>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-4 col-6 text-center mb-3">
                <i class="fas fa-file-pdf" style="color: #AD0B00; font-size: 20px;"></i> <span><b> Importar a PDF</b></span> &nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-6 text-center mb-3">
                <i class="fas fa-file-excel" style="color: #0E753F; font-size: 20px"></i> <span><b> Importar a Excel</b></span>
            </div>
            <div class="col-lg-4 col-md-4 col-12 text-center mb-3">
                <span><b>Departamentos:</b> 12</span>
            </div>
        </div>
        <div class="row mt-3 div-tabla border" style="border-radius: 10px;">
            <div class="w-100">
                <table class="table table-striped">
                    <thead>
                        <th class="text-center">RFC</th>
                        <th class="text-center">Departamento</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Fecha</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let departamento of departamentos">
                            <td class="text-center">{{departamento.rfc.rfc}}</td>
                            <td class="text-center">{{departamento.departamento}}</td>
                            <td class="text-center">{{departamento.nombre}}</td>
                            <td class="text-center">{{departamento.fecha}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <h4><b>Filtrar por:</b></h4>
        </div>
        <div class="row mt-3 mb-3 justify-content-around">
            <div class="col-lg-4 col-6">
                <input oninput="this.value = this.value.toUpperCase()" id="departamento" type="text" name="departamento" class="form-control box-shadow" placeholder="# de Departamento" [(ngModel)]="departamento.departamento" (input)="filtro()">
            </div>
            <div class="col-lg-4 col-6">
                <input oninput="this.value = this.value.toUpperCase()" id="nombre" type="text" name="nombre" class="form-control box-shadow" placeholder="Nombre de Departamento" [(ngModel)]="departamento.nombre" (input)="filtro()">
            </div>
        </div>
    </div>
</div>
