<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <a class="link btn" [routerLink]="'/sig/admin/'">
                <i class="fas fa-chevron-left"></i> Regresar
            </a>
        </div>
        <div class="row mt-3 justify-content-center">
            <h2><strong>{{empresa.razonSocial}}</strong></h2>
        </div>
        <div class="row mt-3">
            <h3><strong>Usuarios registrados</strong></h3>
        </div>
        <div class="row mt-3">
            <button class="btn btn-principal" title="Agregar Nueva División" [routerLink]="['usuario']">
                <strong>Nuevo <i class="fas fa-plus"></i></strong>
            </button>
        </div>
        <div class="row mt-3 div-tabla" style="overflow-x: auto;">
           <div class="w-100">
            <table class="table table-stripped">
                <thead>
                    <th>USUARIO</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td><button class="btn" title="Editar División" [routerLink]="['usuario', usuario.id]"><i class="fas fa-edit" style="color: blue;"></i></button></td>
                        <td><button class="btn" title="Eliminar División" (click)="borrarUsuario(usuario)"><i class="fas fa-trash" style="color: red"></i></button></td>
                    </tr>
                </tbody>
            </table>
           </div>
        </div>
    </div>
</div>
