<div class="container-fluid">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-2 text-center">
                <img [src]="'./assets/logo/logo_simple.jpg'" width="100%" alt="">
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <h2>DELTA CONSULTORES, S.C.</h2>
        </div>
        <div class="row mt-4">
            <p>Fundada desde 1982 se ha dedicado a la consultoría administrativa y el desarrollo de sistemas de cómputo personalizados. Cuenta con una variedad de clientes a nivel nacional con sistemas de inventarios, facturación, cuentas por cobrar, contabilidad, cuentas por pagar y, principalmente, nómina.</p>
            <p>Entre sus clientes más importantes se encuentran Soldadoras Industriales Infra, SA de CV, Metaloides, SA de CV, Odyssey, SA de CV y algunas agencias de autos de VW.</p>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card " style="width: 100%;">
                    <div class="text-center">
                        <img [src]="'./assets/img/nomina.jpeg'" width="100%" alt="">
                    </div>
                    <div class="card-body text-center">
                      <h4 class="card-title">Sistema de Nómina Delta</h4>
                      <p class="card-text">El Sistema de Nómina Delta es un programa orientado a la pequeña y mediana empresa que necesite calcular sus nóminas y emitir los comprobantes fiscales requeridos</p>
                      <a href="#" class="btn btn-primary">Descargar Demo</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card " style="width: 100%;">
                    <div class="text-center">
                        <img [src]="'./assets/logo/logo_simple.jpg'" width="50%" alt="">
                    </div>
                    <div class="card-body text-center">
                      <h4 class="card-title">Manual de Usuario</h4>
                      <p class="card-text">Manual de usuario para el <b>Sistema de Nómina Delta</b></p>
                      <a href="#" class="btn btn-primary">Ver Manual</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card " style="width: 100%;">
                    <div class="text-center">
                        <img [src]="'./assets/img/sig.png'" width="100%" alt="">
                    </div>
                    <div class="card-body text-center">
                      <h4 class="card-title">Sistema de Información Gerencial</h4>
                      <p class="card-text">Complemento para el Sistema de Nómina Delta desde el cual se pueden revisar la situación actual de su empresa</p>
                      <a routerLink="/sig/login" class="btn btn-primary">Ir a S.I.G.</a>
                    </div>
                  </div>
            </div>
        </div>       
    </div>
</div>
