<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-5 col-5 py-2">
                    <img [src]="'./assets/logo/logo_header.png'" class=" w-100">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-principal py-2 negrita color-white">
        <div class="container">
            <div class="row justify-content-center text-center">
                <h5 class="m-0 negrita">DESARROLLO DE SOFTWARE - CONSULTORÍA</h5>
            </div>
        </div>
    </div>
</header>
