<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h2><strong>Tabla de Usuarios</strong></h2>
        </div>
        <div class="row mt-3">
            <button class="btn btn-principal" title="Agregar Nueva División" [routerLink]="['usuario']">
                <strong>Nueva <i class="fas fa-plus"></i></strong>
            </button>
        </div>
        <div class="row mt-3" style="overflow-x: auto;">
            <table class="table table-stripped">
                <thead>
                    <th>USUARIO</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td><button class="btn" title="Editar Usuario" [routerLink]="['usuario', usuario.id]"><i class="fas fa-edit" style="color: blue;"></i></button></td>
                        <td><button class="btn" title="Eliminar Usuario" (click)="borrarUsuario(usuario)"><i class="fas fa-trash-alt" style="color: red;"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>