.inp-login{
    border:0;
    border-bottom: 2px solid #D4D4D4;
    transition: 1s;
    width: 100%;
}

.inp-login:focus{
    outline:none ;
}
.inp-login:hover{
    border-bottom: 2px solid #3c5d77 ;
    transition: 1s;
}

