<div class="container-fluid">
    <div class="container mt-3">
        <div class="row">
            <h1>Iniciar Sesión</h1>
        </div>
        <div class="row">
            <h2>{{title}}</h2>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class=" card" style="width: 35rem; border: none" >
                <div class="row mb-3">
                    <div class="col-md-4 d-flex align-items-center">
                        <span class="m-2">Ususario: </span>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" required autofocus>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4 d-flex align-items-center">
                        <span class="m-2">Contraseña: </span>
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña de usuario" required autofocus>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</div>
