<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h2>
                <strong>
                    Tabla de Empleados
                </strong>
            </h2>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4 text-center">
                <a href="" class="link btn">
                    <i class="fas fa-file-excel i-excel" ></i> Exportar a Excel
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="" class="link btn">
                    <i class="fas fa-file-pdf i-pdf" ></i> Exportar a PDF
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <h5>
                <strong>
                    Filtrar por:
                </strong>
            </h5>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-3 col-md-6 col-10 my-2">
                <input type="text" class="form-control" placeholder="# de Empleado" oninput="this.value = this.value.toUpperCase()" id="empleado" type="text" name="empleado" [(ngModel)]="empleado.empleado" (input)="filtro()">
            </div>
            <div class="col-lg-3 col-md-6 col-10 my-2">
                <input type="text" class="form-control" placeholder="Nombre de Empleado" oninput="this.value = this.value.toUpperCase()" id="nombre" type="text" name="nombre" [(ngModel)]="empleado.nombre" (input)="filtro()">
            </div>
            <div class="col-lg-3 col-md-6 col-10 my-2">
                <input type="text" class="form-control" placeholder="# de Departamento" oninput="this.value = this.value.toUpperCase()" id="departamento" type="text" name="departamento" [(ngModel)]="empleado.departamento" (input)="filtro()">
            </div>
            <div class="col-lg-3 col-md-6 col-10 my-2">
                <input type="text" class="form-control" placeholder="# de Puesto" oninput="this.value = this.value.toUpperCase()" id="puesto" type="text" name="puesto" [(ngModel)]="empleado.puesto" (input)="filtro()">
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <span><strong>Total de Registros:</strong> {{registrosTotales}}</span>
        </div>
        <div class="row mt-3 div-tabla" >
            <div class="w-100">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <th>EMPLEADO</th>
                        <th>NOMBRE</th>
                        <th>DEPARTAMENTO</th>
                        <th>PUESTO</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let empleado of empleados">
                            <td>{{empleado.empleado}}</td>
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.departamento}}</td>
                            <td>{{empleado.puesto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>