<div class="container-fluid">
    <div class="container">
        <div class="row mt-3">
            <h2>
                <strong>
                    Tabla de Empleados
                </strong>
            </h2>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4 text-center">
                <a  *ngIf="registrosTotales > 0" class="link btn" (click)="exportExcel()">
                    <i class="fas fa-file-excel i-excel" ></i> Exportar a Excel
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a  *ngIf="registrosTotales > 0" class="link btn" (click)="exportPdf()">
                    <i class="fas fa-file-pdf i-pdf" ></i> Exportar a PDF
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <h5>
                <strong>
                    Filtrar por:
                </strong>
            </h5>
        </div>
        <div class="form-row mt-2 justify-content-around">
            <div class="form-group col-lg-3 col-md-5 col-6">
                <label for="empleado"><strong># de Empleado:</strong></label>
                <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase()" id="empleado" name="empleado" [(ngModel)]="empleado.empleado" (input)="filtro()">
            </div>
            <div class="form-group col-lg-3 col-md-5 col-6">
                <label for="nombre"><strong>Nombre de Empleado:</strong></label>
                <input type="text" class="form-control" oninput="this.value=this.value.toUpperCase()" id="nombre" name="nombre" [(ngModel)]="empleado.nombre" (input)="filtro()">
            </div>
            <div class="form-group col-lg-3 col-md-5 col-6">
                <label for="departamento"><strong>Departamento:</strong></label>
                <select id="departamento" name="departamento" [(ngModel)]="empleado.departamento" (change)="filtro()" class="form-control">
                    <option value="">TODOS</option>
                    <option *ngFor="let departamento of departamentos" [value]="departamento.departamento">{{departamento.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-lg-3 col-md-5 col-6">
                <label for="Puesto"><strong>Puesto:</strong></label>
                <select id="puesto" name="puesto" [(ngModel)]="empleado.puesto" (change)="filtro()" class="form-control">
                    <option value="">TODOS</option>
                    <option *ngFor="let puesto of puestos" [value]="puesto.puesto">{{puesto.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <span><strong>Total de Registros:</strong> {{registrosTotales}}</span>
        </div>
        <div class="row mt-3 div-tabla" >
            <div class="w-100">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <th>EMPLEADO</th>
                        <th>NOMBRE</th>
                        <th>DEPARTAMENTO</th>
                        <th>PUESTO</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let empleado of empleados">
                            <td>{{empleado.empleado}}</td>
                            <td class="text-left">{{empleado.nombre}}</td>
                            <td class="text-left">{{empleado.departamento}}</td>
                            <td class="text-left">{{empleado.puesto}}</td>
                        </tr>
                        <tr *ngIf="registrosTotales == 0">
                            <td colspan="4">
                                <span><strong>No Hay Registros</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>