<footer>
    <div class="container py-2">
        <div class="row d-flex justify-content-around">
            <div class="col-xs-auto  text-center">
                <span><b> Ventas: </b>{{ventas}}</span>
            </div>
            <div class="col-xs-auto text-center ">
                <span><b> Soporte: </b>{{soporte}}</span>
            </div>
            <div class="col-xs-auto text-center ">
                <span><b> Email: </b><a href="mailto:{{email}}">{{email}}</a></span>
            </div>
        </div>
    </div>
</footer>
