<div class="container-fluid">
    <div class="container">
        <div class="row" *ngIf="rfcExists == false else altTitle">
            <h2><strong>Agregar Nueva Empresa</strong></h2>
        </div>
        <ng-template #altTitle>
            <div class="row">
                <h2><strong>Editar Empresa</strong></h2>
            </div>          
        </ng-template>
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 border py-3">
                <div class="row my-3">
                    <div class="col-lg-5 col-md-6">
                        <span><strong>RFC:</strong></span>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <input *ngIf="rfcExists == false else altInput" type="text" oninput="this.value = this.value.toUpperCase()"   [(ngModel)]="empresa.rfc" class="form-control" name="rfc" id="rfc" maxlength="13" autofocus required>
                        <ng-template #altInput>
                            <input type="text" oninput="this.value = this.value.toUpperCase()"   [(ngModel)]="empresa.rfc" class="form-control" name="rfc" id="rfc" maxlength="13" disabled>
                        </ng-template>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-5 col-md-6">
                        <span><strong>Razón Social:</strong></span>
                    </div>
                    <div class="col-lg-7 col">
                        <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="empresa.razonSocial" class="form-control" name="razonSocial" id="razonSocial" autofocus required>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-5 text-center">
                        <button class="btn btn-secondary" [routerLink]="['/sig/admin']">Cancelar</button>
                    </div>
                    <div class="col-5 text-center" *ngIf="rfcExists == false else altBtn">
                        <button class="btn btn-principal"  (click)="create()" >Agregar</button>
                    </div>
                    <ng-template #altBtn>
                        <div class="col-5 text-center" >
                            <button class="btn btn-principal"  (click)="update()" >Editar</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
